﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>Servus Gü</div>

@Html.Partial("_Info")

<div class="a">${Hallo Welt, wie geht es dir?}</div>

<div>
    <input type="button" id="myButton" value="${Klick mich}!" />
</div>

<div id="my"></div>

<div>@ViewBag.Test</div>

@section scripts {
    <script src="~/Scripts/my.bundle.js.localized"></script>
    <script src="~/Scripts/views.bundle.js.localized"></script>

    <script>
        $(function () {
            var indexPage = new app.views.IndexPage("#myButton", ".a");
            var page = new views.home.Page();
        });
    </script>
}